﻿body {
    background: black;
    color: white;
    font-family: Verdana;
}

#console {
    overflow: auto;
    border: 1px solid #00FF00;
    margin: 20px 0 0 0px;
    color: #00FF00;
    /* height: 80vh; */
}

a {
    color: white;
    text-decoration: none;
}

header {
    background: #535353;
    height: 20px;
    margin: 0 0 20px 0px;
    padding: 20px;
}

button {
    background: #e0e0e0;
    border: 1px solid #949494;
    width: 192px;
    height: 30px;
    padding-left: 0px;
    color: #1c1c1c;
}

input {
    background: #e0e0e0;
    border: 1px solid #949494;
    width: 180px;
    height: 25px;
    padding-left: 10px;
    background: #282828;
    color: #e0e0e0;
}

.current {
    font-weight: bold;
    text-decoration: underline;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item {
    border: 1px solid gray;
    background-color: aquamarine;
    color: gray;
    padding: 10px 50px;
    cursor: pointer;
    transition-duration: .1s;
}

.item:hover {
    background-color: gray;
    color: aquamarine;
}

.active {
    opacity: .5;
}

.task1divs div {
    border: 1px solid white;
    padding: 20px;
}

.circle {
    background-color: white;
    border-radius: 100%;
    width: 5px;
    height: 5px;
}